{% extends "base.html" %}
{% block title %} result {% endblock %}
{% block body %}


<div style=" position: absolute; left: 20%;right:20%;top:10%;  ">
  <div style=" margin-top:10px; position: absolute; left: 30%;">
        <button type="button" class="btn btn-warning btn-lg">Input Image</button>
  </div>

        <img src="{{ input }}"  />
  <div>
    <div style="width:80%">
      <button type="button" class="btn btn-default btn-block">coarse_time:{{ time }}</button>
      {% for img in urls %}
      <img src="{{ img }}" height=200; width=200;/>
      {% endfor %}
    </div>



  </div>
</div>



{% endblock %}
